
    div {
      body { 
        background-image: url(phone.svg);
        background-attachment: fixed;
        background-size: cover;
    }}
    div {
    body { 
        background-image: url(desktop.svg);
        background-attachment: fixed;
        background-size: cover;
    }}
    div {
    body { 
        background-image: url(tablet.svg);
        background-attachment: fixed;
        background-size: cover;
    }}
      .desktop {
        .cls-1 {
          fill: #a492c6;
          opacity: .81;
          stroke-width: 0px;
        }
  
        .cls-2 {
          fill: #010101;
          font-family: AdobeMingStd-Light-B5pc-H, 'Adobe Ming Std';
          font-size: 72px;
          font-weight: 300;
        }
  
        .cls-3 {
          fill: #fff;
          stroke: #754396;
          stroke-miterlimit: 10;
          stroke-width: 20px;
        }
      }

      .tablet {
          .cls-1 {
            fill: #a492c6;
            opacity: .81;
            stroke-width: 0px;
          }
    
          .cls-2 {
            fill: #010101;
            font-family: AdobeMingStd-Light-B5pc-H, 'Adobe Ming Std';
            font-size: 72px;
            font-weight: 300;
          }
    
          .cls-3 {
            fill: #fff;
            stroke: #754396;
            stroke-miterlimit: 10;
            stroke-width: 18px;
          }
      }

      .phone {
          .cls-1 {
            fill: #fff;
            stroke: #754396;
            stroke-miterlimit: 10;
            stroke-width: 10px;
          }
    
          .cls-2 {
            fill: #a492c6;
            opacity: .81;
            stroke-width: 0px;
          }
    
          .cls-3 {
            fill: #010101;
            font-family: AdobeMingStd-Light-B5pc-H, 'Adobe Ming Std';
            font-size: 51.76px;
            font-weight: 300;
          }
      }

      @media (max-width: 768px) {
        .tablet {
          display: block;
        }
        .phone {
          display: none;
        }
        .desktop {
          display: none;
        }
      }

      @media (max-width: 425px) {
        .tablet {
          display: none;
        }
        .phone {
          display: block;
        }
        .desktop {
          display: none;
        }
      }